@import 'libs/bootstrap-reboot.min';
@import 'libs/tiny-animate';
@import 'libs/animate.min';
@import 'libs/stylesheet';

@import 'base/variables';
@import 'base/animate';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/advantage';
@import 'blocks/consult';
@import 'blocks/forms';
@import 'blocks/slider';
@import 'blocks/catalog';
@import 'blocks/feedbacks';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';