.consult {
    background: url(../image/bg_cross.jpg) center (center/cover) no-repeat;
    padding: 100px 0 92px 0;
    min-height: 680px;
    &__descr {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
        width: 400px;
        margin-top: 70px;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        border: none;
        text-align: left;
        margin-bottom: 15px;
        margin-top: -5px;
        color: #fff;
        font-size: 0.8rem;
    }
    label[id='email-error'] {
        margin-top: -10px;
    }
}